@import "tailwindcss";

body {
  -webkit-tap-highlight-color: transparent;
  background-color: #f3f4f6;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.font-semibold { font-weight: 600; }
.font-medium { font-weight: 500; }
.font-regular { font-weight: 400; }

::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
